{% extends 'base.html.twig' %}
<div class="container-fluid">
    <div class="header row">
        <div class="col-sm-12">
            <h2 class="text-center">Header</h2>
        </div>
    </div>
    <div class="main row">
        <div class="col-sm-3 menu">
            <h3 class="text-center">Menu</h3>
            <ul>
                <li></li>
            </ul>
        </div>
        <div class="col-sm-9 content">
            <h3 class="text-center">Content</h3>
        </div>
    </div>
    <div class="row footer">
        <div class="col-sm-12">
            <h3 class="text-center">Footer</h3>
        </div>
    </div>
</div>