<div ng-controller="DashboardController">


    <h1 class="page-header">{{ test }}</h1>

    <h2>TODO LIST</h2>
    <ul>
        <li style="color:green"> - Fix validation email directive</li>
        <li style="color:green"> - Fix layout in modals and other</li>
        <li style="color:green"> - Delete unused libraries</li>
        <li> - Concatenate and minify files</li>
        <li> - Make dashboard info</li>
        <li style="color:green" > - Optimise operators table filter</li>
        <li style="color:green"> - Only make operations on ajax calls</li>
        <li style="color:green"> - Check security in forms and db operations</li>
        <li> - Make error interceptor</li>
        <li> - Code comment in php doc form</li>
        <li style="color:green"> - Style Login Form</li>
    </ul>
</div>
