<div ng-controller="DashboardController">


    <h1 class="page-header">{{ test }}</h1>

    <h2>TODO LIST</h2>
    <ul>
        <li> - Fix validation email directive</li>
        <li> - Fix layout in modals and other</li>
        <li> - Delete unused libraries</li>
        <li> - Concatenate and minify files</li>
        <li> - Make dashboard info</li>
        <li> - Optimise operators table filter</li>
        <li> - Only make operations on ajax calls</li>
        <li> - Check security in forms and db operations</li>
        <li> - Make error interceptor</li>
        <li> - Code comment in php doc form</li>
    </ul>
</div>