/*
  Amigos Helpdesk
  Authors: Mariusz Megger, Wojciech Placzek
  Version: 1.0.0
*/
/* BASE - Base styles, variables, mixins, etc. */
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
  content: " ";
  display: table; }

#wrapper {
  height: auto;
  min-height: 100%;
  position: relative; }

@media all and (max-width: 767px) {
  /* ------------------ Navbar --------------------*/
  .page-navbar .navbar-brand {
    width: 60px;
    text-align: center; }
  #header .navbar-nav li {
    display: inline-block; } }

@media all and (max-width: 500px) {
  /* ------------------ Header --------------------*/
  .page-navbar .navbar-nav > li > a {
    padding: 15px; }
  .page-navbar .navbar-brand {
    display: none; } }

/* MODULES - Individual sites components */
.page-navbar .navbar-brand img {
  display: inline-block; }

#header .navbar-nav {
  margin: 0;
  height: 50px;
  float: left; }

#header .navbar-nav.navbar-right {
  float: right; }

#header .navbar-nav li {
  display: inline-block; }

#header .navbar-nav li.open .dropdown-menu {
  position: absolute;
  background-color: #ffffff;
  float: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.175); }

#header .navbar-nav li.open .dropdown-menu li {
  display: block; }

/*
* paddings, paragraphs, margins
*/
/* LAYOUTS - Page layout styles */
.page-content .page-content-wrapper {
  float: left;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background-color: #F5F5F5; }

.page-content.sidebar-page {
  margin-left: 210px; }

.page-content.collapsed-sidebar {
  margin-left: 60px; }

.page-content {
  min-height: 100%;
  padding-top: 50px; }

.page-content .page-content-inner {
  position: relative;
  padding: 0 20px; }

.right-sidebar {
  display: none !important; }

.alert {
  visibility: hidden;
  opacity: 0;
  transition: all linear 1s; }

.mainSinglePanel {
  background-color: white;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #e2e2e2;
  padding: 24px;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
  margin: 0 0 25px 0; }
  .mainSinglePanel .mainSinglePanelHeader {
    background-color: #FEFEFE;
    transition: border 500ms;
    -moz-transitiontransition: border 500ms;
    -webkit-transition: border 500ms;
    padding: 3px 0; }
    .mainSinglePanel .mainSinglePanelHeader .fa-plus-circle {
      color: green;
      margin-right: 10px;
      float: right;
      font-size: 28px; }
    .mainSinglePanel .mainSinglePanelHeader h4 {
      margin-top: 3px;
      padding-bottom: 12px;
      font-family: "Raleway", Helvetica, sans-serif !important;
      font-weight: 200;
      border-bottom: 1px solid #dadada;
      color: #23527C;
      font-size: 24px; }
  .mainSinglePanel .mainSinglePanelBody label {
    float: left;
    margin-right: 20px;
    margin-top: 5px; }
  .mainSinglePanel .mainSinglePanelBody input, .mainSinglePanel .mainSinglePanelBody select {
    width: 64%; }

.main {
  padding-top: 10px; }
  .main .dataTables_filter {
    float: right; }
  .main .tableWrapper {
    min-height: 500px; }
  .main table.dataTable thead .sorting_desc {
    background-image: url("../images/sort_desc.png"); }
  .main table.dataTable thead .sorting_asc {
    background-image: url("../images/sort_asc.png"); }
  .main table.dataTable thead .sorting, .main table.dataTable thead .sorting_asc, .main table.dataTable thead .sorting_desc, .main table.dataTable thead .sorting_asc_disabled, .main table.dataTable thead .sorting_desc_disabled {
    background-repeat: no-repeat;
    background-position: center right;
    color: white !important; }
  .main table {
    z-index: 99999 !important; }
    .main table tr {
      text-align: center; }
      .main table tr td {
        text-align: center;
        vertical-align: middle; }
        .main table tr td:last-child {
          width: 80px; }
          .main table tr td:last-child i {
            font-size: 23px; }
    .main table thead tr {
      color: white;
      background-color: #303946; }
      .main table thead tr .sort-btn {
        cursor: pointer;
        display: block;
        text-align: center; }
      .main table thead tr th {
        background-color: #303946;
        color: white;
        text-align: center; }
    .main table tbody tr td {
      text-align: center;
      vertical-align: middle; }
      .main table tbody tr td:last-child {
        width: 80px;
        font-size: 23px; }
        .main table tbody tr td:last-child i.fa-pencil-square {
          color: red; }
        .main table tbody tr td:last-child i.fa-trash {
          color: blue; }
  .main form label {
    width: 100%; }
  .main .rightBox .contentBoxHeader {
    margin-bottom: 11px;
    margin-left: 10px; }
    .main .rightBox .contentBoxHeader h1 {
      font-size: 30px !important; }
  .main .rightBox ul {
    list-style: none; }
    .main .rightBox ul li {
      font-size: 16px;
      padding: 10px 0;
      font-weight: bold; }
  .main .leftBox .contentBoxHeader {
    margin-left: 78px;
    margin-bottom: 20px; }
    .main .leftBox .contentBoxHeader h1 {
      font-size: 30px !important; }

.page-navbar.header-fixed {
  position: fixed; }

.page-navbar {
  width: 100%;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15); }

.page-navbar .navbar-brand {
  width: 210px;
  color: #ffffff;
  background-color: #303946;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 1px 15px;
  font-size: 21px; }

.page-sidebar {
  width: 210px;
  position: absolute;
  height: auto;
  left: 0;
  bottom: 0;
  top: 0;
  padding-top: 50px;
  z-index: 2; }

.page-sidebar:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 210px;
  background-color: #303946;
  z-index: -1; }

.sidebar-panel {
  margin: 0;
  width: 100%;
  height: auto;
  float: left;
  position: relative; }

.sidebar-panel:before, .sidebar-panel:after {
  content: " ";
  display: table; }

.page-sidebar .side-nav .nav > li a {
  padding: 10px 20px 9px;
  color: #8b929a;
  display: inline-block;
  width: 100%;
  position: relative;
  line-height: 20px;
  letter-spacing: 0.3px;
  transition: background;
  transition-duration: 0.4s; }

.page-sidebar.collapse-sidebar {
  bottom: auto; }

#right-sidebar.sidebar-fixed {
  position: fixed; }

#right-sidebar {
  width: 210px;
  height: auto;
  z-index: 10;
  float: right;
  padding-top: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
  display: block; }

.sidebar-panel .sidebar-panel-title {
  font-size: 13px;
  padding: 8px 15px 8px 17px;
  margin: 0;
  background-color: #455264;
  color: #ffffff;
  border-top: 1px solid #2e3743;
  border-bottom: 1px solid #2e3743; }
