.page-content .page-content-wrapper {
    float: left;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.page-content.sidebar-page {
    margin-left: 210px;
}

.page-content.collapsed-sidebar {
    margin-left: 60px;
}

.page-content {
    min-height: 100%;
    padding-top: 50px;
}

.page-content .page-content-inner {
    position: relative;
    padding: 0 20px;
}
.right-sidebar{
    display:none !important;
}
.alert{
  visibility:hidden ;
  opacity:0;
  transition: all linear 1s;
}

.main{
    padding-top:10px;
.categoryTableInfo{
    // display:none;
    // visibility: hidden;
}
    table{
        z-index:99999 !important;
        tr{
            td{
                text-align:center;
                vertical-align:middle;
                &:last-child{
                    width:80px;
                    i{
                        font-size:23px;
                    }
                }
            }
        }
        thead{
            tr{
                td{
                    background-color:#303946;
                    color:white;
                }
            }
        }
        tbody{
            tr{
                td{
                    text-align:center;
                    vertical-align:middle;
                    &:last-child{
                        width:80px;
                        font-size:23px;
                        i.fa-pencil-square{
                            color:red;
                        }
                        i.fa-trash{
                            color:blue;

                        }

                    }
                }
            }
        }
    }

    form{
        label{
            width:100%;
        }
    }
    .rightBox {
        .contentBoxHeader{
            margin-bottom:11px;
            margin-left:10px;
            h1{
                font-size:30px !important;
            }
        }
        ul{
            list-style:none;
            li{
                font-size: 16px;
                padding:10px 0;
                font-weight:bold;

            }
        }
    }
    .leftBox{
        .contentBoxHeader{
            margin-left:78px;
            margin-bottom:20px;
            h1{
                font-size:30px !important;
            }

        }

    }
}
