<div class="container">
        <div class="row mainSinglePanel">
            <div class="col-md-12 mainSinglePanelHeader"><h4>Filters</h4></div>
            <div class="row mainSinglePanelBody">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="userInUnit">Category</label>
                        <select ng-model="userInUnit" id="userInUnit" class="form-control" name="userInUnit" ng-change="saveCompanyisActive(userIsActive)">
                            <option class="unitOption form-control" value="">All</option>
                            <option class="unitOption form-control" value="1">Unit 1</option>
                            <option class="unitOption form-control" value="2">Unit 2</option>
                            <option class="unitOption form-control" value="3">Unit 3</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="isActive">Support Line</label>
                        <select ng-model="userIsActive" id="isActive" class="form-control" name="isActive" ng-change="saveCompanyisActive(userIsActive)">
                            <option value="">All</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>


        <div class="col-sm-12 mainSinglePanel tableWrapper">
            <div class="col-md-12 mainSinglePanelHeader"><h4>Operators<a href="/#/admin-addOperators"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></h4></div>
            <table  class="table table-bordered userTable " datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance"></table>
        </div>

    </div>

</div>
<!-- <div   ng-if="!categories" class="userTableInfo panel alert-info"> user list is empty</div> -->


</div>
