<div class="container">
        <div class="row mainSinglePanel">
            <div class="col-md-12 mainSinglePanelHeader"><h4>Filters</h4></div>
            <div class="row mainSinglePanelBody">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="categoriesList">Category</label>
                        <select id="categoriesList" ng-options=" category.name for category in getCategoriesForOperatorsListFilter" ng-model="operatorCategory" class="form-control">
                            <option value="">All</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="isActive">Support Line</label>
                        <select ng-model="userIsActive" id="isActive" class="form-control" name="isActive" ng-change="saveCompanyisActive(userIsActive)">
                            <option value="">All</option>
                            <option value="1">Support Line 1</option>
                            <option value="2">Support Line 2</option>
                            <option value="3">Support Line 3</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>


        <div class="col-sm-12 mainSinglePanel tableWrapper">
            <div class="col-md-12 mainSinglePanelHeader"><h4>Operators<a href="/#/admin-addOperators"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></h4></div>
            <table  class="table table-bordered userTable" ></table>
        </div>

    </div>

</div>


</div>
