<div class="container">
    <div class="row" ng-controller="CategoriesController">
        <div class="alert "  ng-style="myStyle" ng-class="{true:'alert-success', false:'alert-danger'}[data == 1]">{{ message }}</div>

       <div class="col-sm-2"><label for="categoryName">Category name:</label></div>
         <div class="col-sm-3">
          <label > <input placeholder="search" class="form-control" type="text" id="categoryName" ng-model="filterBy.name" ng-change="filterByName()">
       </div>
        <div class="col-sm-1"><label for="isActive">Is Active:</label></div>
        <div class="col-sm-3">
          <select ng-model="filterBy.isActive" id="isActive" class="form-control" name="isActive" ng-change="filterChanged()">
            <option value="">All</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
      </div>
        <div class="col-sm-12">
            <h1>{{ test}}  <a href="#/admin-add_category"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></h1>
        </div>
        <div class="col-sm-12"></div>



        <!-- <div class="col-sm-2">
          <select ng-model="itemsPerPage" id="length" class="form-control dataLength" name="length" ng-change="pageChanged();">
            <option selected="selected" value="1">1</option>
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div> -->
        <div class="col-sm-8"></div>
        <div class="col-sm-12">
            <table  class="table table-bordered categoryTable" datatable="" dt-options="dtOptions" dt-columns="dtColumns"></table>
            <!-- <table  ng-cloak class="table table-bordered categoryTable" datatable="" dt-options="dtOptions" dt-columns="dtColumns"></table> -->
                 <!-- <thead>
                    <tr>
                        <td>
                          <span ng-click="changeOrder('id')" class="sort-btn">
                            Id
                            <i ng-show="isOrderedBy('id')"
                            class="glyphicon "
                            ng-class="{'glyphicon-chevron-up':!isOrderedReverse(),'glyphicon-chevron-down':isOrderedReverse() }">
                            </i>
                          </span>
                        </td>
                        <td>
                          <span ng-click="changeOrder('name')" class="sort-btn">
                            Name
                            <i ng-show="isOrderedBy('name')"
                            class="glyphicon"
                            ng-class="{'glyphicon-chevron-up':!isOrderedReverse(),'glyphicon-chevron-down':isOrderedReverse() }">
                            </i>
                          </span>
                        </td>
                        <td>
                          <span ng-click="changeOrder('createdBy')" class="sort-btn">
                            Created By
                            <i ng-show="isOrderedBy('createdBy')"
                            class="glyphicon"
                            ng-class="{'glyphicon-chevron-up':!isOrderedReverse(),'glyphicon-chevron-down':isOrderedReverse() }">
                            </i>
                          </span>
                        </td>
                        <td>
                          <span ng-click="changeOrder('createdDate')" class="sort-btn">
                            Created Date
                            <i ng-show="isOrderedBy('createdDate')"
                            class="glyphicon"
                            ng-class="{'glyphicon-chevron-up':!isOrderedReverse(),'glyphicon-chevron-down':isOrderedReverse() }">
                            </i>
                          </span>
                        </td>
                        <td>
                          <span ng-click="changeOrder('isActive')" class="sort-btn">
                            Is Active
                            <i ng-show="isOrderedBy('isActive')"
                            class="glyphicon"
                            ng-class="{'glyphicon-chevron-up':!isOrderedReverse(),'glyphicon-chevron-down':isOrderedReverse() }">
                            </i>
                          </span>
                        </td>
                        <td>Operations</td>
                    </tr>
                </thead> -->
                <!-- <tbody>
                  <tr ng-repeat="category in categories | filter:filterBy" dt-options="dtOptions" >
                      <td>{{category.id}}</td>
                      <td>{{category.name}}</td>
                      <td>{{category.createdBy}}</td>
                      <td>{{category.createdDate | date : 'longdate'}}</td>
                      <td>{{category.isActive === 1? "Yes":"No"}}</td>
                      <td><a href="#/admin-edit_category"><i class="fa fa-pencil-square" aria-hidden="true"></i></a></td>
                  </tr>
                </tbody> -->

            <!-- {{filterBy | json}} -->
            <!-- <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="itemsPerPage" ng-change="pageChanged()" class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>
            total Items: {{totalItems}}<br />
            Items per page: {{itemsPerPage}}<br />
            Current Page: {{currentPage}} -->
        </div>
    </div>
    <!-- <div   ng-if="!categories" class="categoryTableInfo panel alert-info"> Category list is empty</div> -->
</div>
