<div class="container">
    <div class="row" ng-controller="CategoriesController">
        <div class="alert "  ng-style="myStyle" ng-class="{true:'alert-success', false:'alert-danger'}[data == 1]">{{ message }}</div>
        <div class="col-sm-4">
            <h1>{{ test}}  <a href="#/add_category"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></h1>
        </div>
        <div class="col-sm-12">
            <table ng-if="categories" ng-cloak class="table table-bordered categoryTable">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Name</td>
                        <td>Created By</td>
                        <td>Created Date</td>
                        <td>Is Active</td>
                        <td>Operations</td>
                    </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="category in categories">
                      <td>{{category.id}}</td>
                      <td>{{category.name}}</td>
                      <td>{{category.createdBy}}</td>
                      <td>{{category.createdDate | date}}</td>
                      <td>{{category.isActive === 1? "Yes":"No"}}</td>
                      <td><a href="#/edit_category"><i class="fa fa-pencil-square" aria-hidden="true"></i></a></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div   ng-if="!categories" class="categoryTableInfo panel alert-info"> Category list is empty</div>
</div>
