<div class="container">
    <div class="row " ng-controller="UsersController">
        <div class="col-sm-6 leftBox mainSinglePanel">
            <div class="col-md-12 mainSinglePanelHeader"><h4>Edit User</h4></div>
            <form name="addUserForm" class="form-horizontal" novalidate>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="userName" class=" control-label">Login: </label>
                    </div>
                    <div class="col-sm-8">
                        <input ng-model="addUserName" name="userName" id="userName" class="form-control" type="text" required="required">
                        <div class="formMessageWrapper" ng-show="adduserForm.userName.$touched">
                          <span class="text-danger" ng-show="adduserForm.userName.$error.required">user name is required</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="userName" class=" control-label">First Name: </label>
                    </div>
                    <div class="col-sm-8">
                        <input ng-model="adduserName" name="userName" id="userName" class="form-control" type="text" required="required">
                        <div class="formMessageWrapper" ng-show="adduserForm.userName.$touched">
                          <span class="text-danger" ng-show="adduserForm.userName.$error.required">user name is required</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="userName" class=" control-label">Last Name: </label>
                    </div>
                    <div class="col-sm-8">
                        <input ng-model="adduserName" name="userName" id="userName" class="form-control" type="text" required="required">
                        <div class="formMessageWrapper" ng-show="adduserForm.userName.$touched">
                          <span class="text-danger" ng-show="adduserForm.userName.$error.required">user name is required</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="userName" class=" control-label">City: </label>
                    </div>
                    <div class="col-sm-8">
                        <input ng-model="adduserName" name="userName" id="userName" class="form-control" type="text" required="required">
                        <div class="formMessageWrapper" ng-show="adduserForm.userName.$touched">
                          <span class="text-danger" ng-show="adduserForm.userName.$error.required">user name is required</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="userName" class=" control-label">Street: </label>
                    </div>
                    <div class="col-sm-8">
                        <input ng-model="adduserName" name="userName" id="userName" class="form-control" type="text" required="required">
                        <div class="formMessageWrapper" ng-show="adduserForm.userName.$touched">
                          <span class="text-danger" ng-show="adduserForm.userName.$error.required">user name is required</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="userName" class=" control-label">Post code: </label>
                    </div>
                    <div class="col-sm-8">
                        <input ng-model="adduserName" name="userName" id="userName" class="form-control" type="text" required="required">
                        <div class="formMessageWrapper" ng-show="adduserForm.userName.$touched">
                          <span class="text-danger" ng-show="adduserForm.userName.$error.required">user name is required</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="userName" class=" control-label">Unit: </label>
                    </div>
                    <div class="col-sm-8">
                        <select ng-model="adduserName" name="userName" id="userName" class="form-control" type="text" required="required">
                          <option class="unitOption form-controll">Unit 1</option>
                          <option class="unitOption form-controll">Unit 2</option>
                          <option class="unitOption form-controll">Unit 3</option>
                        </select>
                        <div class="formMessageWrapper" ng-show="adduserForm.userName.$touched">
                          <span class="text-danger" ng-show="adduserForm.userName.$error.required">user name is required</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input ng-model="userIsActive" type="checkbox"> Is Active
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                </div>
            </form>
        </div>
        <div class="col-sm-6 rightBox mainSinglePanel">
              <div class="col-md-12 mainSinglePanelHeader"><h4>Category Details</h4></div>
            <div class="col-sm-12">
              <table class="table table-bordered table-hovered">
                <thead></thead>
                  <tbody>
                    <tr>
                        <th>Category Name</th>
                        <th>{{singleCategory.name}}</th>
                    </tr>
                    <tr>
                        <th>Is Active</th>
                        <th ng-class="(singleCategory.is_active == 1)? 'text-success':'text-danger'">{{singleCategory.is_active == "1"? "YES":"NO"}}</th>
                    </tr>
                    <tr>
                        <th>Created By</th>
                        <th>{{ singleCategory.created_by }}</th>
                    </tr>
                    <tr>
                        <th>Created Date</th>
                        <th>{{singleCategory.created_date}}</th>
                    </tr>
                  </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
