<div class="container">
    <div class="row">
        <div class="row mainSinglePanel">
            <div class="col-md-12 mainSinglePanelHeader"><h4>Filters</h4></div>
            <div class="row mainSinglePanelBody">
              <div class="col-md-4">
                  <div class="form-group">
                      <label for="userInUnit">Unit</label>
                      <select ng-model="userInUnit" id="userInUnit" class="form-control" name="userInUnit" ng-change="saveCompanyisActive(userIsActive)">
                        <option class="unitOption form-control" value="">All</option>
                        <option class="unitOption form-control" value="1">Unit 1</option>
                        <option class="unitOption form-control" value="2">Unit 2</option>
                        <option class="unitOption form-control" value="3">Unit 3</option>
                      </select>
                  </div>
              </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="isActive">Is Locked</label>
                        <select ng-model="userIsActive" id="isActive" class="form-control" name="isActive" ng-change="saveCompanyisActive(userIsActive)">
                            <option value="">All</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="col-sm-12 mainSinglePanel tableWrapper">
            <div class="col-md-12 mainSinglePanelHeader"><h4>Users<a data-toggle="modal" href="" data-target="#exampleModal" ><i class="fa fa-plus-circle" aria-hidden="true"></i></a></h4></div>
            <table  class="table table-bordered userTable " datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance"></table>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="col-md-12 mainSinglePanelHeader"><h4>Add User</h4></div>
              </div>
              <div class="modal-body">
                <form name="addUserForm" class="form-horizontal" novalidate>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="userLogin" class=" control-label">Login: </label>
                        </div>
                        <div class="col-sm-8">
                            <input ng-model="addUserLogin" name="userLogin" id="userLogin" class="form-control" type="text" required="required" ng-maxlength="15" ng-minlength="5">
                            <div class="formMessageWrapper" ng-show="addUserForm.userLogin.$touched">
                              <span class="text-danger" ng-show="addUserForm.userLogin.$error.required">User login is required</span>
                              <span class="text-danger" ng-show="addUserForm.userLogin.$error.minlength">Login requires to have min 5 letters</span>
                              <span class="text-danger" ng-show="addUserForm.userLogin.$error.maxlength">Login requires to have max 15 letters</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="addUserEmail" class=" control-label">E-mail: </label>
                        </div>
                        <div class="col-sm-8">
                            <input ng-model="addUserEmail" name="addUserEmail" id="addUserEmail" class="form-control" type="email" required="required" email-available>
                            <div class="formMessageWrapper" ng-show="addUserForm.addUserEmail.$touched">
                              <span class="text-danger" ng-show="addUserForm.addUserEmail.$error.required">User email is required</span>
                              <span class="text-danger" ng-show="addUserForm.addUserEmail.$error.email">Enter valid email adress</span>
                              <span class="text-danger" ng-show="addUserForm.addUserEmail.$error.emailAvailable">User e-mail exist try another one</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                              <label for="addUserFirstName" class=" control-label">First Name: </label>
                        </div>
                        <div class="col-sm-8">
                            <input ng-model="addUserFirstName" name="addUserFirstName" id="addUserFirstName" class="form-control" type="text" required="required">
                            <div class="formMessageWrapper" ng-show="addUserForm.addUserFirstName.$touched">
                              <span class="text-danger" ng-show="addUserForm.addUserFirstName.$error.required">First name is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="addUserSureName" class=" control-label">Last Name: </label>
                        </div>
                        <div class="col-sm-8">
                            <input ng-model="addUserSureName" name="addUserSureName" id="addUserSureName" class="form-control" type="text" required="required">
                            <div class="formMessageWrapper" ng-show="addUserForm.addUserSureName.$touched">
                              <span class="text-danger" ng-show="addUserForm.addUserSureName.$error.required">Surname is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="addUserCity" class=" control-label">City: </label>
                        </div>
                        <div class="col-sm-8">
                            <input ng-model="addUserCity" name="addUserCity" id="addUserCity" class="form-control" type="text" >
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="addUserStreet" class=" control-label">Street: </label>
                        </div>
                        <div class="col-sm-8">
                            <input ng-model="addUserStreet" name="addUserStreet" id="addUserStreet" class="form-control" type="text" >
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="addUserPostCode" class=" control-label">Post code: </label>
                        </div>
                        <div class="col-sm-8">
                            <input ng-model="addUserPostCode" name="addUserPostCode" id="addUserPostCode" class="form-control" type="text" >
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="addUserUnit" class=" control-label">Unit: </label>
                        </div>
                        <div class="col-sm-8">
                            <select ng-model="addUserUnit" name="addUserUnit" id="addUserUnit" class="form-control" type="text" required="required">
                              <option class="unitOption form-control" value="">Choose Unit</option>
                              <option class="unitOption form-control" value="1">Unit 1</option>
                              <option class="unitOption form-control" value="2">Unit 2</option>
                              <option class="unitOption form-control" value="3">Unit 3</option>
                            </select>
                            <div class="formMessageWrapper" ng-show="addUserForm.addUserUnit.$touched">
                              <span class="text-danger" ng-show="addUserForm.addUserUnit.$error.required">Unit is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label>
                                    <input ng-model="addUserIsActive" type="checkbox"> Is Locked
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                    </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-click="saveUser()" type="button" class="btn btn-primary" ng-disabled="!addUserForm.$valid" data-dismiss="modal">Add user</button>
              </div>
            </div>
          </div>
        </div>
    </div>

</div>
<!-- <div   ng-if="!categories" class="userTableInfo panel alert-info"> user list is empty</div> -->


</div>
