<!DOCTYPE html>

<html>
    <head>
        <meta title="Angular Amigos Helpdesk">
        <meta charset="UTF-8">

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
            <link href="{{ asset('src/HelpdeskBundle/Resources/css/style.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            {% block header %}
            {% endblock %}
            {% block main %}
            {% endblock %}
            {% block footer %}
            {% endblock %}
        </div>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
